{{#if user.owner}}
<div class="col s12 m12 l7 center" id="left">
  {{else}}
  <div class="col s12 m12 l12 center" id="left">
{{/if}}
  <p class="grey-text"><small>Last updated: {{user.updated_at}}</small></p>
  {{#if user.fullName}}
  <div id="name-title"><h2>{{user.fullName}}</h2></div>
  {{/if}}

  {{#if user.title}}
  <h4><i>{{user.title}}</i></h4>
  {{/if}}

  {{#if user.skills}}
  {{#each user.skills}}
  <div class="chip black white-text" id="chip"><img src="{{icon}}" alt="{{name}}">{{name}}</div>
  {{/each}}
  {{/if}}

  {{#if user.rate}}
  <p class="proper-font brand-logo green-text">${{user.rate}} per<span id="dot">.</span>hr</p>
  {{/if}}

  {{#if user.hideLocationEmailPhone}}
  {{else}}
  <h6>{{user.location}}</h6>
  {{/if}}

  {{#if user.hideLocationEmailPhone}}
  {{else}}
  <h6>{{user.email}}</h6>
  {{/if}}

  {{#if user.hideLocationEmailPhone}}
  {{else}}
  <h6>{{user.phone}}</h6>
  {{/if}}

  {{#if user.portfolio}}
  <h6><i>Portfolios</i></h6>
  {{#each user.portfolio}}
  <a href="{{url}}"><div class="chip black white-text" id="chip"><img src="{{site.siteIcon}}" alt="{{site.siteName}}">{{site.siteName}}</div></a>
  {{/each}}
  {{/if}}

</div>