<div class="col s12 m12 l7 center" id="left">
  <p class="grey-text"><small>Last updated: {{user.updated_at}}</small></p>
  {{#if user.fullName}}
  <h1>{{user.fullName}}</h1>
  {{/if}}

  {{#if user.title}}
  <h4><i>{{user.title}}</i></h4>
  {{/if}}

  {{#if user.skills}}
  {{#each user.skills}}
  <div class="chip black white-text" id="chip"><img src="{{icon}}" alt="{{name}}">{{name}}</div>
  {{/each}}
  {{/if}}

  {{#if user.rate}}
  <p class="proper-font brand-logo green-text">${{user.rate}} per<span id="dot">.</span>hr</p>
  {{/if}}

  {{#if user.hideLocationEmailPhone}}
  {{else}}
  <h5>{{user.location}}</h5>
  {{/if}}

  {{#if user.hideLocationEmailPhone}}
  {{else}}
  <h5>{{user.email}}</h5>
  {{/if}}

  {{#if user.hideLocationEmailPhone}}
  {{else}}
  <h5>{{user.phone}}</h5>
  {{/if}}

  {{#if user.portfolio}}
  <h3>Portfolios</h3>
  <h5>{{user.portfolio}}</h5>
  {{/if}}

</div>