<div class="inside">
  <div class="row">
    {{> card}}
    <div class="col s12 m12 l5" id="right">
      <div class="mini-nav center">
        <button class="btn-small black" disabled>Profile</button> 
        <a href="/profile/{{user._id}}/portfolio"><button class="btn-small grey darken-3">Done</button></a>
        <button class="btn-small black" disabled>Skills</button>
        <button class="btn-small black" disabled>$ Rate</button>
      </div>
      <h4>Edit Portfolios</h4>
      <form action="/profile/{{user._id}}/skills/edit" method="POST">

      {{#each user.portfolio}}
      <div class="chip black white-text" id="chip-edit"><img src="{{this.siteIcon}}" alt="{{this.siteName}}">{{this.siteName}} <i class="close material-icons">close</i></div>
      {{/each}}
      
      <button class="btn-large save-btn waves-effect waves-light green right">Save</button>
      </form>
    </div>
  </div>
</div>
