<div class="inside">
  <div class="row">
    {{> card}}
    <div class="col s12 m12 l5" id="right">
      <div class="mini-nav center">
        <button class="btn-small black" disabled>Profile</button> 
        <a href="/profile/{{user._id}}/portfolio"><button class="btn-small red darken-3">Done</button></a>
        <button class="btn-small black" disabled>Skills</button>
        <button class="btn-small black" disabled>$ Rate</button>
      </div>
      <h4>Edit Portfolio</h4>
      <a href="/profile/{{user._id}}/portfolio/add-new"><button type="button" class="btn-small green">Add New Portfolio</button></a>
            




      {{!-- <ul id="folio-list"></ul> --}}

      {{!-- id="new-folio-button" THIS THING IS USED TO ACTUALLY POST TO THE API - PUT IT ON THE NEXT PAGE --}}

      {{!-- {{#each allThePortfolios}}
        <a href="portfolios/{{../portfolio._id}}"><img src="{{../portfolio.siteIcon}}" alt="{{../portfolio.siteName}}" id="portfolios-btn"></a>
        <p>{{../portfolio.siteName}}</p>
        <p>{{../portfolio.siteDomain}}</p>
      {{/each}} --}}
      {{!-- <form action="/profile/{{user._id}}/edit" method="POST"></form>
      <div class="input-field"><label>Name</label>
      <input type="text" name="fullName" value="{{user.fullName}}"></div>
      <div class="input-field"><label>Title</label>
      <input type="text" name="title" value="{{user.title}}"></div>
      <div class="input-field"><label>Where</label>
      <input type="text" name="location" value="{{user.location}}"></div>
      <div class="input-field"><label>Email</label>
      <input type="text" name="email" value="{{user.email}}"></div>
      <div class="input-field"><label>Phone</label>
      <input type="text" name="phone" value="{{user.phone}}"></div>
      <div class="input-field"><label>Per Hour Rate ($)</label>
      <input type="number" name="rate" value="{{user.rate}}"></div>
      <button class="btn-large save-btn waves-effect waves-light green right">Save</button>
      </form> --}}
    </div>
  </div>
</div>
