<div class="inside">
  <div class="row">
    {{> card}}
    <div class="col s12 m12 l5" id="right">
      <div class="mini-nav center">
        <a href="/profile/{{user._id}}"><button class="btn-small black">Profile</button></a>
        <a href="/profile/{{user._id}}/portfolio/edit"><button class="btn-small blue darken-3">Edit Portfolio</button></a> 
        <a href="/profile/{{user._id}}/skills"><button class="btn-small black">Skills</button></a>
        <a href="/profile/{{user._id}}/rate"><button class="btn-small black">$ Rate</button></a>
      </div>
      <h3>Portfolio</h3>
     
      {{#each user.portfolio}}
      <div class="chip black white-text" id="chip-edit"><img src="{{this.siteIcon}}" alt="{{this.siteName}}">{{this.siteName}}</div>
      {{/each}}
     
      {{!-- {{#if user.portfolio}}
      {{#each user.portfolio}}
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
          <div class="card-image">{{user.portfolio.url}}</div>
          <div class="card-title">{{user.portfolio.siteName}}</div>
          <div class="card-action"><a href="{{user.portfolio.siteDomain}}">{{user.portfolio.siteDomain}}</a></div>
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}} --}}
    </div>
  </div>
</div>