<div class="inside">
  <div class="row">
    {{> card}}
    <div class="col s12 m12 l5" id="right">
      <div class="mini-nav center">
        <a href="/profile/{{user._id}}"><button class="btn-small black">Profile</button></a>
        <a href="/profile/{{user._id}}/portfolio/edit"><button class="btn-small blue darken-3">Edit Portfolio</button></a> 
        <a href="/profile/{{user._id}}/skills"><button class="btn-small black">Skills</button></a>
        <a href="/profile/{{user._id}}/rate"><button class="btn-small black">$ Rate</button></a>
      </div>
      <h3>Portfolio</h3>
      {{!-- <form disabled>
      <div class="input-field"><label>Site</label>
      <input type="text" name="siteName" value="{{user.portfolio.siteName}}" readonly></div>
      <div class="input-field"><label>URL</label>
      <input type="text" name="siteUrl" value="{{user.portfolio.siteUrl}}" readonly></div>
      <div class="input-field"><label>Icon</label>
      <input type="text" name="siteIcon" value="{{user.portfolio.siteIcon}}" readonly></div>
      </form> --}}
    </div>
  </div>
</div>