<div class="inside">
  <div class="row">
    {{> card}}
    <div class="col s12 m12 l5" id="right" style="overflow:auto">
      <div class="mini-nav center">
        <a href="/profile/{{user._id}}"><button class="btn-small red darken-3">Cancel</button></a>
        <button class="btn-small black" disabled>Portfolio</button> 
        <button class="btn-small black" disabled>Skills</button>
        <button class="btn-small black" disabled>$ Rate</button> 
      </div>
      <h4>Edit Profile</h4>
      <form action="/profile/{{user._id}}/edit" method="POST">
      <div class="input-field"><label>Name</label>
      <input type="text" name="fullName" value="{{user.fullName}}"></div>
      <div class="input-field"><label>Title</label>
      <input type="text" name="title" value="{{user.title}}"></div>
      <div class="input-field"><label>Location</label>
      <input type="text" name="location" value="{{user.location}}"></div>
      <div class="input-field"><label>Email</label>
      <input type="text" name="email" value="{{user.email}}"></div>
      <div class="input-field"><label>Phone</label>
      <input type="text" name="phone" value="{{user.phone}}"></div>      
      <div class="input-field">
        <select name="hideLocationEmailPhone">
          <option value="true">Hide Location, Email & Phone</option>
          <option value="false">Show Location, Email & Phone</option>
        </select>
      </div>
      <div><button class="btn-large save-btn waves-effect waves-light green right">Save</button></div>
      </form>
    </div>
  </div>
</div>