<div class="inside">
  <div class="row">
    {{> card}}
    <div class="col s12 m12 l5" id="right">
      <div class="mini-nav center">
        <button class="btn-small black" disabled>Profile</button> 
        <button class="btn-small black" disabled>Portfolio</button>
        <a href="/profile/{{user._id}}/skills"><button class="btn-small red darken-3">Done</button></a>
        <button class="btn-small black" disabled>$ Rate</button>
      </div>
      <h4>Edit Skills</h4>


      <form action="/profile/{{user._id}}/skills/edit" method="POST">


      {{#each user.skills}}
      <div class="chip black white-text" id="chip-edit"><img src="{{this.icon}}" alt="{{this.name}}">{{this.name}} <i class="close material-icons">close</i></div>
      {{/each}}
      <br>
      <select name="skills">
        {{#each allTheSkills}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
        </option>
      </select>
      <button class="btn-large save-btn waves-effect waves-light green right">Add Skill</button>
      </form>
    </div>
  </div>
</div>