<div class="inside">
  <div class="row">
    {{> card}}
    <div class="col s12 m12 l4" id="right">
      <div class="mini-nav center">
        <a href="/profile/{{user._id}}"><button class="btn-small red darken-3">Cancel Edit</button></a>
        <button class="btn-small black">Portfolio</button> 
        <button class="btn-small black">Skills</button>
      </div>
      <h3>Edit Skills</h3>
      <form action="/profile/{{user._id}}/edit" method="POST">
      <div class="input-field"><label>Name</label>
      <input type="text" name="fullName" value="{{user.fullName}}"></div>
      <div class="input-field"><label>Title</label>
      <input type="text" name="title" value="{{user.title}}"></div>
      <div class="input-field"><label>Where</label>
      <input type="text" name="location" value="{{user.location}}"></div>
      <div class="input-field"><label>Email</label>
      <input type="text" name="email" value="{{user.email}}"></div>
      <div class="input-field"><label>Phone</label>
      <input type="text" name="phone" value="{{user.phone}}"></div>
      <div class="input-field"><label>Per Hour Rate ($)</label>
      <input type="number" name="rate" value="{{user.rate}}"></div>
      <!-- TESTING ADDING TAG CHIPS -->
      {{!-- <div class="chip white-text green">
        React.js
        <i class="close material-icons">close</i>
      </div> --}}
      <button class="btn-large save-btn waves-effect waves-light green right">Save</button>
      </form>
    </div>
  </div>
</div>