<div class="inside">
  <div class="row">
    {{> card}}
    <div class="col s12 m12 l4" id="right">
      <div class="mini-nav center">
        <a href="/profile/{{user._id}}"><button class="btn-small black">Profile</button></a>
        <a href="/profile/{{user._id}}/portfolio/"><button class="btn-small black">Portfolio</button></a> 
        <a href="/profile/{{user._id}}/skills/edit"><button class="btn-small blue darken-3">Edit Skills</button></a>
      </div>
      <h3>Skills</h3>
      
      <!-- TESTING DISPLAY OF SKILLS CHIPS -->
   
      {{#if user.skills}}
      {{#each user.skills}}
      <div class="chip black white-text" id="chip-edit"><img src="{{icon}}" alt="{{name}}">{{name}}</div>
      {{/each}}
      {{/if}}
      
      <!-- TESTING DISPLAY OF SKILLS CHIPS -->

    </div>
  </div>
</div>