
<a href="/portfolios/new-folio">Add New Portfolio</a>

<h1>List of Portfolios</h1>


{{#each allThePortfolios}}
<a href="portfolios/{{this._id}}">
<img src="{{this.siteIcon}}" alt="{{this.siteName}}" id="portfolios-btn"></a>
<p>{{this.siteName}}</p>
<p>{{this.siteDomain}}</p>

<button class="btn">
<a class="btn-link" href="/portfolios/{{this._id}}/edit">Edit This Portfolio</a>
</button>

<form action="/portfolios/{{this._id}}/delete" method="POST">
<button class="btn">
Delete This Portfolio
</button>
</form>

<p>---------------------</p>

{{/each}}